<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biografía
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Curriculm vitae</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--CARD-->
  <ion-card class="ios hydrated">
    <img src="assets/imgas/foto.jpg">
    <ion-card-header class="ion-inherit-color ios hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">Jhonathan Pizarra</ion-card-subtitle>
      <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Tecnólogo, ASI</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <em>
      "Emprendedor creativo y metódico. Siempre abierto ha impulsar cualquier idea prometedora.
        Colaborativo y leal en el trabajo. Con 7 años de experiencia en el área de soporte informático y desarrollo de software."
    </em>

    </ion-card-content>
  </ion-card>
  <!--End Card-->



  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
