<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Referencias 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Curriculm vitae</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--CARD-->
  <ion-card class="ios hydrated">
    <img src="assets/imgas/foto.jpg">
    <ion-card-header class="ion-inherit-color ios hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">Jhonathan Pizarra</ion-card-subtitle>
      <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Referencias: </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-row>Referente: Sr. Jorge Puma</ion-row>
          <ion-row>Contacto: java-omar@hotmail.com / (09) 83638628 </ion-row>

          <ion-row>Referente: Sra. Blanca Zulema Pizarra</ion-row>
          <ion-row>Contacto: (02) 2675-079</ion-row>

          <ion-row>Referente: Sra. Dolores Chiribogaa</ion-row>
          <ion-row>Contacto: (02) 3020-169</ion-row>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <!--End Card-->

  <app-explore-container name="Tab 4 page"></app-explore-container>
</ion-content>
