<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conocimientos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Curriculm vitae</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--CARD-->
  <ion-card class="ios hydrated">
    <img src="assets/imgas/foto.jpg">
    <ion-card-header class="ion-inherit-color ios hydrated">
      <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">Jhonathan Pizarra</ion-card-subtitle>
      <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Estudios:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-row>Bachiller en Ciencias</ion-row>
          <ion-row>sept 2002 - Jul 2014</ion-row>
          <ion-row>Colegio Particular Nuestra Señora del Cisne</ion-row>

        </ion-row>
        <br>
        <ion-row>
          <ion-row>Tecnólogo en Análisis de Sitemas Informáticos</ion-row>
          <ion-row>sept 2016 – sept 2020</ion-row>
          <ion-row>Escuela Politécnica Nacional - ESFOT.</ion-row>

        </ion-row>

        <br>
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Experiencia Laboral:</ion-card-title>
        <ion-row>
          <ion-row>sept 2002 - Jul 2014</ion-row>
          <ion-row>Polifuncional en MAXINET</ion-row>
          <ion-row>Actividades varias para el mantenimiento y control del Ciber, atención al cliente.</ion-row>

        </ion-row>
        <br>
        <ion-row>
          <ion-row>sept 2016 – sept 2020</ion-row>
          <ion-row>Desarrollador/Tester en Esdinámico- Stupendo S.A </ion-row>
          <ion-row>Monitoreo y pruebas para la plataforma Stupendo.</ion-row>

        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--End Card-->

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
